.header-body {
  margin: 40px;
  margin-top: 60px;
}

header {
  margin: 0;
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
}

nav {
  display: flexbox;
  max-width: 250px;
  margin: 0;
}

h1 {
  margin-left: 250px;
  align-self: center;
}

img {
  max-width: 25px;
  max-height: 25px;
  margin: none;
  justify-self: center;
}

#logo {
  max-width: 200px;
  max-height: 100px;
  height: inherit;
  justify-self: center;
}

.main {
  display: flex;
  justify-content: center;
}

ul {
  list-style-type: none;
  display: flex;
}

.navigation-ul {
  display: flex;
  height: 40px;
  max-width: 150px;
  padding: 10px;
}

.nav-block {
  display: flex;
  gap: 40px;
  margin-right: 30px;
}

.search-bar {
  gap: 10px;
  display: flex;
  margin: 0;
  justify-content: center;
  max-height: 40px;
  max-width: 280px;
  background-color: rgb(255, 255, 255);
  padding: 10px;
}

.search-bar>input {
  border: none;
}

.search-bar>input:focus {
  outline: none;
}

li {
  justify-content: center;
  align-self: center;
}

#search-icon {
  justify-self: center;
  margin-right: 10px;
}

#search-icon:hover {
  cursor: pointer;
}

input {
  max-height: 30px;
  margin-left: 5px;
  margin-right: 5px;
}

.container {
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 20px;
  background: rgb(185, 185, 185);
  margin: 0;
  padding: 10px;
  color: black;
  font-weight: semibold;
  font-size: 14px;
}

h3 {
  margin: 0;
}

.cart-exit-div {
  margin-left: 80px;
}

.cart-exit {
  gap: 20px;
}

a, a:visited {
  text-decoration: none;
  color: white;
  font-size: 16px;
}
